@model MvcMovie.Models.NormalUserViewModel
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>normal_user</h4>
        <hr />
        @Html.ValidationSummary(true)

        @if (ViewData["ViewMode"] == "Create")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserID)
                    @Html.ValidationMessageFor(model => model.UserID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Generation, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Generation)
                    @Html.ValidationMessageFor(model => model.Generation)
                </div>
            </div>            
        }
        else
        {
            @Html.HiddenFor(model => model.UserID)
            @Html.HiddenFor(model => model.Generation)            
        }


        <div class="form-group">
            @Html.LabelFor(model => model.FamilyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FamilyName)
                @Html.ValidationMessageFor(model => model.FamilyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GivenName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GivenName)
                @Html.ValidationMessageFor(model => model.GivenName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogonID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LogonID)
                @Html.ValidationMessageFor(model => model.LogonID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OccupationCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var code in Model.Occupations.Keys.OrderBy(m => m)) {
                    <label>
                    @Html.RadioButtonFor(model => model.OccupationCode, code)
                    @Model.Occupations[code]
                    </label>
                }
                @Html.ValidationMessageFor(model => model.OccupationCode)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

