@model IEnumerable<AddressBookManagerDomain.Contexts.normal_user>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.generation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.family_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.given_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logon_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.generation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.family_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.given_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logon_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.user_id, generation = item.generation }) |
            @Html.ActionLink("Details", "Details", new { id = item.user_id, generation = item.generation }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.user_id, generation = item.generation })
        </td>
    </tr>
}

</table>
